.Header {
    background-color: #666;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
    
.Header li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}