.Sort-button {
    display: flex;
    font-size: large;
    color: #757575;
    font-weight: bold;
    align-items: center;
}

.Sort-icon {
    float: left;
    padding-right: 10px;
}

.Sort-button:hover {
    cursor: pointer;
}