.Categories {
    float: left;
    width: 20%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}
  
  /* Style the list inside the menu */
.Categories ul {
    list-style-type: none;
    padding: 0;
}