.Categories {
    float: left;
    width: 200px;
    padding: 20px;
}
  
.Categories ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0%;
}

.Categories li {
  margin: 0 0 3px 0;
}

.Categories li a {
  color: black;
  text-decoration: none;
}

.Categories li a:focus {
  font-weight: bold;
}