.App {
  text-align: center;
}

* {
  font-family: 'quicksand';
}

.Container {
    display: flex;
    flex-direction: column;
}

.Main {
    display: flex;
}


.CardFrame {
    display: flex;
    flex-direction: column;
}